<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pictures">
      <ion-icon name="people"></ion-icon>
      <ion-label>Characters</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="author">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Actors</ion-label>
    </ion-tab-button>

    <!--<ion-tab-button tab="authorlist">-->
      <!--<ion-icon name="contacts"></ion-icon>-->
      <!--<ion-label>Авторы</ion-label>-->
    <!--</ion-tab-button>-->
  </ion-tab-bar>

</ion-tabs>
