<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">Actors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button>
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="bottom">
      <ion-fab-button (click)="loadData()" color="primary">Load</ion-fab-button>
      <ion-fab-button (click)="saveData()" color="success"><ion-icon name="save"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="getData()" color="tertiary"><ion-icon name="download"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-list>
    <ion-item-sliding *ngFor="let item of items; let i = index">
      <ion-item (click)="onGoToNextPage(i)">
        <ion-avatar item-left style=" max-width: 100px; max-height: 100px;">
          <img src="{{item.image}}">
        </ion-avatar>
        <ion-label style="margin-left: 5%;"><h2>{{item.actor}}</h2></ion-label>
      </ion-item>
      <ion-item-options side="start" (ionSwipe)="delete(i)">
        <ion-item-option color="danger" (click)="delete(i)" expandable>
          <ion-icon name="close"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
