<?xml version='1.0' encoding='utf-8'?>
<plugin id="borschevsky.denis.plugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>Demoplugin</name><js-module name="Demoplugin" src="www/Demoplugin.js"><clobbers target="cordova.plugins.Demoplugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="Demoplugin"><param name="android-package" value="borschevsky.denis.plugin.Demoplugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/Demoplugin.java" target-dir="src/borschevsky/denis/plugin/Demoplugin" /></platform></plugin>