ion-card{
  margin: 15px;
}


.pictures-title {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  color: black;
  font-size: 20px;
}

.pictures-author {
  text-align: center;
  color: black;
  margin-top: 10px;
  font-weight: bold;
}

.pictures-text {
  margin-top: 10px;
}
